<div class="container">
    <table class="table table-bordered" >
        <thead>
          <tr>
            <th>#</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button class="btn btn-danger" (click)="onRemove(product.id)">
                xóa
              </button>
              <a class="btn btn-primary" routerLink="{{product.id}}">
                update
              </a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
