<div class="container">
    <form [formGroup]="formAdd" (ngSubmit)="onHandleSubmit()" class="">
      <div class="mb-3">
        <label for="" class="form-label">name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div
      *ngIf="
        formAdd.get('name')?.hasError('required') &&
        (formAdd.get('name')?.touched || formAdd.get('name')?.dirty)
      "
    >
      name is required
    </div>
    <div
      *ngIf="
        formAdd.get('name')?.hasError('minlength') &&
        (formAdd.get('name')?.touched || formAdd.get('name')?.dirty)
      "
    >
      ten phai it nhat 6
    </div>
      <div class="mb-3">
        <label for="" class="form-label">price</label
        ><input type="number" class="form-control" formControlName="price" />
      </div><div
      *ngIf="
        formAdd.get('price')?.hasError('required') &&
        (formAdd.get('price')?.touched || formAdd.get('price')?.dirty)
      "
    >
      price is required
    </div>
      
      <button>Submit</button>
    </form>
  </div>
